<a [routerLink]="['/Home']" routerLinkActive="router-link-active" class="btn btn-danger float-right mr-4">Logout</a>
<br>
<br>
<br>
<div class="container text-center">
  <a [routerLink]="['/Import']" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Import Data</a>
  <a [routerLink]="['/ManageCompany']" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Manage Company</a>
  <a [routerLink]="['/ManageExchange']" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Manage Exchange</a>
  <a [routerLink]="['/ManageIPO']" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Update IPO details</a>
</div>

