<a [routerLink]="['/Home']" routerLinkActive="router-link-active" class="btn btn-danger float-right mr-4">Logout</a>
<br>
<br>
<br>
<div class="container text-center">
  <a [routerLink]="['/ViewIPO']" routerLinkActive="router-link-active" class="btn btn-primary mr-4">IPOs</a>
  <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Compare Company</a>
  <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Compare Sectors</a>
  <a [routerLink]="[]" routerLinkActive="router-link-active" class="btn btn-primary mr-4">Other</a>
</div>
